# I like to put this file in the project root directory for testing.
/flag.py
# challenge binary
/*-easy
/*-hard
/*-level-[0-9]*
# IDA database
/*.i64
/*.id[0-2]
/*.nam
/*.til

## Python
__pycache__/
*.py[cod]
